<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PhotoShop Exercise</title>
    <link href= 'http://fonts.googleapis.com/css?family=Open+Sans:400,600'>
    <script src="/vendor/jquery/dist/jquery.min.js"></script>

    <script src="../public/stylesheets/bootstrap/dist/css/bootstrap.min.js"></script>

    <link rel="stylesheet" href="./stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./stylesheets/css.css"/>

    <!--[if lt IE 9]>

    <script src="http://html5shiv.googlecode/svn/trunk/html5.js"></script>

    <![endif]-->
</head>

<body>
<header class="header">
    <div class="container-fluid">
        <div class="logo"><img src="images/logo.png" height="25" width="81" alt="">
        </div>

        <div class="slogan">your nice slogan</div>

        <nav>

            <ul class="nav">
                <li class="how-it-works"><a href="#">How it works</a></li>
                <li class="sign-up"><a href="#">Sign Up</a></li>
                <li class="login"><a href="#">Login</a></li>
            </ul>
        </nav>
    </div>
</header>


<div class="hero">
    <div class="container">
        <h1>Don't ignore your dreams</h1>
        <p><strong>The 5 regrets</strong> paint a portrait of post-industrial man, who shrinks himself into a shape that fits his circumstances, then turns dutifully till he stops.</p>
        <a href='#' class="btn btn-success">See how it works</a>
        <a href='#' class='btn btn-primary'>Join us</a>
    </div>
</div>


<main class="middle">
    <div class="container-fluid">
        <div class="imageBlocks">
            <div class="row">
                <div class="block">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="display-block">
                            <div class="image"><img src='images/skateboard.jpg'height="180" width="319" alt="skateboard"></div>
                            <div class="person">
                                <div class="photo"><img src="images/valerie.jpg" height="50" width="50" alt="valerie">
                                    <div class="text">
                                        <div class="phrase">You neglect your friends</div>
                                        <div class="info">Valerie Adams. Moldova. 19.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="display-block">
                            <div class="image"><img src='images/cityloft.png'height="180" width="319" alt="billboard"></div>
                            <div class="person">
                                <div class="photo"><img src="images/robert.jpg" height="50" width="50" alt="robert">
                                    <div class="text">
                                        <div class="phrase">You forget your dreams</div>
                                        <div class="info">Robert. Italy. 38.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="display-block">
                            <div class="image"><img src='images/auto.png'height="180" width="319" alt="auto"></div>
                            <div class="person">
                                <div class="photo"><img src="images/sergi.jpg" height="50" width="50" alt="sergi">
                                    <div class="text">
                                        <div class="phrase">You suppress your feelings</div>
                                        <div class="info">Sergi. Italy. 38</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="circle">
            <div class="row">
                <div class="block">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="circle-block">
                            <div class="image"><img src='images/jobs-circle.jpg'height="89" width="89" alt="steve_jobs"></div>
                            <!-- <div class="text"> -->
                            <div class="date">
                                <time>Oct.18</time></br>
                                I would like to avoid making these mistakes.
                            </div>
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="circle-block">
                            <div class="image"><img src='images/people-circle.jpg'height="89" width="89" alt="billboard"></div>
                            <!-- <div class="text"> -->
                            <div class="date">
                                <time>Oct.8</time></br>
                                <p>But how do you avoid mistakes you make by default?</p>
                            </div>
                            <!-- 	</div>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="circle-block">
                            <div class="image"><img src='images/buildings-circle.jpg'height="89" width="89" alt="auto"></div>
                            <!-- <div class="text"> -->
                            <div class="date">
                                <time>Oct.2</time></br>
                                <p>Ideally you transform your life so it has other defaults.</p>
                            </div>
                            <!-- 		</div>
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="featured-on">
        <div class="title">Featured on:</div>
        <ul>
            <li class="newTexasTimes"><a href="#"><img src="images/newTexasTimes.jpg" height="28px" width="286px"></a></li>
            <li class="wooden"><a href="#"><img src="images/wooden.jpg" height="29px" width="132px"></a></li>
            <li class="vremya"><a href="#"><img src="images/vremya.jpg"height="22px" width="122px"></a></li>
            <li class="open-book"><a href="#"><img src="images/open-book.jpg"height="24px" width="24px"></a></li>
            <li class="openBook"><a href="#"><img src="images/openBook.jpg"height="31px" width="155px"></a></li>
            <li class="twitter-bird"><a href="#"><img src="images/twitter.jpg"height="29px" width="36px" color="#5c6066"></a></li>
        </ul>
    </div>
</main>

<footer class="footer">
    <div class="container">
        <nav class='footer-nav'>
            <div class ='column'>
                <div class='title'>MAIN</div>
                <ul>
                    <li><a href='#'>Start Here</a></li>
                    <li><a href='#'>Portfolio</a></li>
                    <li><a href="#">Meet Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class ='column'>
                <div class='title'>Company</div>
                <ul>
                    <li><a href='#'>About</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Directory</a></li>
                </ul>
            </div>	<div class ='column'>
            <div class='title'>One More</div>
            <ul>
                <li><a href='#'>Meetups</a></li>
                <li><a href="#">Handbook</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Equipment</a></li>
            </ul>
        </div>
            <div class ='column'>
                <div class='title'>The Last One</div>
                <ul>
                    <li><a href='#'>Meetups</a></li>
                    <li><a href="#">Handbook</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">Equipment</a></li>
                </ul>
            </div>
        </nav>


        <div class="social">
            <a class="twitter" href="#"><i class=" fa fa-twitter"></i></a>
            <a class="facebook" href="#"><i class=" fa fa-facebook"></i></a>
            <a class="vimeo" href="#"><i class=" fa fa-vimeo"></i></a>
        </div>

        <div class="copyright">
            <p>© 2013 be happy<br>
                <a href="#">Privacy Policy</a><a href="#">Terms of Service</a>
            </p>
        </div>

    </div>
</footer>




</body>

</html>


